@tailwind base;
@tailwind components;
@tailwind utilities;

/* For All */

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif !important;
}

.container{
	margin: 0 auto;
	width: 85%;
}

/* Layout */

#layout {
	background-color: #fff;
}

#footer {
	text-align: center;
}

/* Header */
.ant-layout-header{
	padding-inline: 0 !important;
}

/* Modal */
.modalUpdate .ant-modal-footer{
	display: none;
}

.modalUpdate .ant-btn{
	background: #1677ff;
	float: right;
}

.modalCreate .ant-modal-footer{
	display: none;
}

.modalCreate .ant-btn{
	background: #16A34A;
	float: right;
}
